.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1,
h2 {
  font-family: "Markazi Text", serif;
  margin: 0;
}

h1 {
  font-size: 64pt;
  line-height: 0.2; /* keep title and subtitle close */
  font-weight: 500;
}

h2 {
  font-size: 40pt;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 18pt;
  font-weight: 500;
}

h5 {
  font-size: 18pt;
  font-weight: 700;
}

h6 {
  font-size: 16pt;
  font-weight: 800;
}

p {
  font-size: 16pt;
  line-height: 1.5;
  font-weight: 400;
}

span {
  font-weight: 500;
}

ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #495e57;
}

li > span {
  font-weight: 800;
  color: #495e57;
}

header {
  display: flex;
}

nav.header-navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

img {
  border-radius: 8px;
}

main {
  width: 100%;
}

.cta--container {
  background-color: #495e57;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 150px;
}

.cta--info {
  padding-top: 30px;
}

h1.title-restaurant {
  font-size: 40px;
  line-height: unset;
  color: #f4ce14;
}

h2.subtitle-restaurant {
  font-size: 30px;
  line-height: 0.1;
  color: white;
}

p.cta--text {
  color: white;
  font-size: 16px;
  padding: 20px 0;
  max-width: 270px;
}

.btn {
  background-color: #f4ce14;
  font-weight: 700;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.cta--image {
  margin-top: 20px;
}

.specials--container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.specials--header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1.specials--title {
  font-size: 40px;
  line-height: unset;
}

.special-item--container {
  max-width: 250px;
  background-color: #edefee;
  border-radius: 10px;
}

.special-item--img {
  width: 100%;
}

.specials--body {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 150px;
}

.special-item--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.special-item--title {
  font-size: 20px;
  font-weight: 600;
}

.special-item--desc {
  font-size: 14px;
  color: #495e57;
  padding: 10px 20px;
  margin: 0;
}

.special-item--link {
  display: block;
  font-weight: 800;
  text-decoration: none;
  padding: 10px 20px;
  padding-bottom: 20px;
}

.special-item--price {
  color: #ee9972;
}

.testimonials--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  padding: 50px 0;
}

h1.testimonials--title {
  font-size: 40px;
  line-height: unset;
}

.testimonials--list {
  display: flex;
  gap: 10px;
}

.testimonial-item--container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 16px 8px;
}

.desc--container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.desc--info {
  max-width: 400px;
}

h1.desc--title {
  font-size: 40px;
  line-height: unset;
}

h2.desc--subtitle {
  font-size: 30px;
  line-height: 0.1;
}

p.desc--text {
  font-size: 16px;
  padding: 12px 0;
}
